.title {
  font-size: 7vw;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    height: 25vh;
  }
  .title {
    font-size: 11vw;
  }
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.search, .select {
  width: 43%;
}